.sidebar {
  width: 5rem;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #08090a;
  justify-content: space-between;
  padding: 2.5rem 0rem 6.25rem 0rem;
  align-items: center;
  z-index: 10000;
  transition: all 0.25s;

  @media (max-width: 991px) {
    width: 4.063rem;
  }

  @media (max-width: 767px) {
    z-index: 100;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0.5rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;

    @media (max-width: 767px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    .logo {
      @media (max-width: 767px) {
        display: none;
      }
      svg {
        @media (max-width: 991px) {
          width: 2.813rem;
        }
      }
    }
    button {
      color: #9cb0c2;
      background-color: transparent;
      cursor: pointer;

      @media (max-width: 991px) {
        p {
          display: none;
        }

        svg {
          width: 1.75rem;
        }
      }

      @media (max-width: 767px) {
        svg {
          width: 1.5rem;
        }
      }
    }
    button:hover {
      color: #fff;
      transition: 0.3s ease-in;
      svg {
        path {
          fill: #fff;
          transition: 0.3s ease-in;
        }
      }
      svg.trades {
        path {
          stroke: #fff;
          transition: 0.3s ease-in;
        }
      }
    }
    button.active {
      color: #0094ff;
      svg {
        path {
          fill: #0094ff;
        }
      }
      svg.trades {
        path {
          stroke: #0094ff;
        }
      }
    }
  }
  .bottom {
    justify-self: flex-end;

    @media (max-width: 767px) {
      display: none;
    }
    .online {
      text-align: center;

      p.numberOnline {
        color: #fff;
        font-size: 0.875rem;

        @media (max-width: 991px) {
          font-size: 0.775rem;
        }

        @media (max-width: 767px) {
          font-size: 0.675rem;
        }
      }
      p.onl {
        color: #9cb0c2;

        font-size: 0.75rem;

        @media (max-width: 991px) {
          font-size: 0.7rem;
        }

        @media (max-width: 767px) {
          font-size: 0.65rem;
        }
      }
    }
  }
}
