.market-menu {
  .market-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.75rem;
    cursor: pointer;
    border-radius: 1.25rem;
    background: #1a1d21;
    margin-top: 1.5rem;
    p {
      font-size: 1.125rem;
    }
  }
  .carousel-wrapper {
    border-radius: 1.25rem;
    margin-top: 3.95rem;
    background: linear-gradient(262deg, #6956b3 2.57%, #3a0590 66.21%);
    padding: 1.4375rem 0.4375rem 0.5625rem 1.375rem;
    p.giftHead {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .flexItems {
      display: flex;
      align-items: center;
    }
  }
  .trade-conditions {
    border-radius: 1.25rem;
    background: radial-gradient(
      834.95% 196.61% at 129.33% -51.93%,
      #6956b3 0%,
      rgba(105, 86, 179, 0) 100%
    );
    margin-top: 3rem;
    .imgWrap {
      display: flex;
      justify-content: flex-end;
    }
    .texts {
      padding: 1.1rem;
      p.tr-head {
        font-size: 1.5rem;
        font-weight: 500;
      }
      p.tr-txt {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        margin-top: 0.5rem;
      }
    }
  }
}
