.headerExtraIcon {
  cursor: pointer;
  position: absolute;
  top: 1.3125rem;
  right: 5.3125rem;
}

.flexTraderProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  position: relative;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0rem 0.125rem rgba(0, 0, 0, 0.05),
    0rem 0.0625rem 0rem 0.0625rem inset rgba(39, 162, 255, 0.05);

  .trader {
    .traderHead {
      color: #f9b42b;
      font-size: 1.125rem;
      font-weight: 600;
    }
    p.traderBottom {
      font-size: 0.9rem;
      font-weight: 600;
      margin-top: 0.75rem;
      span.id {
        color: #9cb0c2;
      }
      span.id-number {
        color: #0094ff;
        margin-left: 0.2rem;
      }
    }
  }
  .reloadIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.traderInfoImages {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  img {
    width: 100%;
    height: auto;
    box-shadow: 0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.2);
  }
}

.profileCard {
  height: 100%;
  padding: 0.625rem 0.9375rem;
  position: relative;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0rem 0.125rem rgba(0, 0, 0, 0.05),
    0rem 0.0625rem 0rem 0.0625rem inset rgba(39, 162, 255, 0.26);
}

.levelCard {
  padding-top: 0.625rem;
  padding-bottom: 0.3125rem;

  .levelCardTitleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;

    .levelCardTitle {
      color: #ffffff;
      font-size: 1.125rem;
      font-weight: 600;
      margin-left: 0.9375rem;
    }
  }

  .levelBar {
    width: 100%;
    background: linear-gradient(
      to right,
      #4e97ce,
      #5a6975,
      #5a6975,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 0.625rem;
    padding: 0.125rem 0.5rem;

    .levelText {
      margin-right: 2.5rem;
    }
  }
}

.statusTooltip {
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #ffffff80;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;

  p {
    margin-right: 0.3125rem;
  }
}

.taskCards {
  margin-bottom: 3.125rem;

  .taskCard {
    padding: 0.625rem 0;

    .taskCardIcon {
      margin-bottom: 0.3125rem;
    }

    .taskCardSubtitle {
      color: #5d86a6;
      font-size: 0.875rem;
      margin-bottom: 0.3125rem;
      min-height: 1.0625rem;
    }
    .taskCardTitle {
      color: #ffffff;
      font-size: 1.125rem;
      margin-bottom: 0.3125rem;
    }
  }
}

// .flexProfileLinks {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 4.3rem;
//   .profileLinkContainer {
//     height: 7rem;
//     border-radius: 1.25rem;
//     background: #1a1d21;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 1rem;
//     cursor: pointer;
//   }
//   p.linkName {
//     color: #fff;
//     font-size: 1.125rem;
//   }
// }

.settingsButton {
  cursor: pointer;

  button.settings {
    margin: 0.625rem 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    background: transparent;
    text-align: center;
    color: #fff;
    font-size: 1.125rem;
    span.icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
