.flexTraderProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .trader {
    .traderHead {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
    }
    p.traderBottom {
      margin-top: 0.75rem;
      span.id {
        color: #9cb0c2;
      }
      span.id-number {
        color: #0094ff;
        margin-left: 0.3rem;
      }
    }
  }
  .bigProfileIcon {
    border-radius: 100%;
    background: #1f2227;
    width: 5.88rem;
    height: 5.88rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.flexProfileLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 4.3rem;
  .profileLinkContainer {
    height: 7rem;
    border-radius: 1.25rem;
    background: #1a1d21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
  }
  p.linkName {
    color: #fff;
    font-size: 1.125rem;
  }
}
button.settings {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  background: #1a1d21;
  color: #fff;
  padding: 0.94rem 1.62rem;
  font-size: 1.25rem;
  margin-top: 10rem;
  span.icon {
    margin-right: 5.31rem;
  }
}
