.enhanceSecurityContainer {
  .securityEnhancements {
    .securityTitle {
      font-size: 1.25rem;
      font-weight: 500;
      color: #fff;
      margin-bottom: 0.625rem;
    }
    .securitySubtitle {
      font-size: 1rem;
      font-weight: 500;
      color: #969698;
      margin-bottom: 0.938rem;
    }
    .securityItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .securityItemIcon {
        min-height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        margin-top: 0.625rem;
        font-size: 0.75rem;
        color: #ffffff99;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
