.tradingMenu {
  .tradingMenuSection {
    margin-bottom: 1.25rem;

    .tradingSectionTitle {
      font-size: 1.25rem;
      font-weight: 500;
      color: #fff;
      margin-bottom: 0.9375rem;
    }

    .customToggle {
      margin-bottom: 1rem;
    }
  }
}
