.menuListCard {
  position: relative;
  margin-bottom: 0.938rem;
  display: flex;
  align-items: center;

  &.danger {
    box-shadow: 0 0.125rem 0 0.125rem rgba(0, 0, 0, 0.05),
      0 0.063rem 0 0.063rem inset #f15131;
    border-radius: 0.313rem;
  }

  .cardLeftIcon {
    margin-right: 0.938rem;
    display: flex;
    align-items: center;

    img,
    svg {
      width: 1.5625rem;
    }

    &.textCenter {
      position: absolute;
      left: 0.938rem;
      top: 50%;
      transform: translateY(-42%);
    }
  }

  .cardRightContent {
    width: 100%;

    .menuListCardTitle {
      font-size: 1.125rem;
      color: #fff;
      font-weight: 500;
      margin-bottom: 0.313rem;

      &.noMargin {
        margin-bottom: 0;
      }

      &.danger {
        color: #f15131;
      }

      &.textCenter {
        text-align: center;
        justify-content: center;
      }
    }
    .menuListCardSubtitle {
      font-size: 0.875rem;
      color: #ffffff99;
      font-weight: 400;
    }
  }
}
