.paymentsMenu {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  button {
    padding: 0.5rem 1.62rem;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    background: #1a1d21;
    color: #fff;
    gap: 6rem;
    font-size: 1.1rem;
  }
  button.deposit {
    background: #0094ff;
  }
}
