.customToggle {
  padding: 0.7rem 0.938rem !important;

  .toggleContainer {
    display: flex;

    .toggleTextContainer {
      width: 100%;

      .toggleLabel {
        font-size: 1.125rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0.625rem;
      }

      .toggleSubtext {
        font-size: 0.875rem;
        font-weight: 400;
        color: #ababad;
      }
    }

    .ant-switch {
      background: transparent;
      border: 0.125rem solid #969798;
      height: 1.5625rem;
      &:hover {
        background: transparent;
      }

      .ant-switch-handle {
        border: 0.125rem solid #969798;
        border-radius: 0.5rem;
        width: 1rem;
        height: 1rem;

        &::before {
          background: transparent;
        }
      }

      .ant-switch-inner {
        padding: 0;
      }

      &.ant-switch-checked {
        border: 0.125rem solid #0094ff;
        &:hover {
          background: transparent;
        }

        .ant-switch-handle {
          border: 0.125rem solid #0094ff;
        }
      }
    }
  }

  .infoText {
    color: #0094ff;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
}
