.platformWrapper {
  display: flex;
  background: #0e0f12;
  .trade-section {
    margin-left: 106px;
    background: #0e0f12;
    width: 100%;
    height: 100vh;
    .trade-content {
      display: flex;
      .trade-graph {
        width: 86%;
        height: calc(100vh - 139px);
        overflow: hidden;
      }
    }
  }
  .ml-378 {
    margin-left: 484px;
  }
}
.ml-106 {
  margin-left: 106px;
  .ant-drawer-wrapper-body {
    background: #08090a;
  }
  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  .ant-drawer-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    color: #fff;
  }
}
.rightDrawer {
  .ant-drawer-wrapper-body {
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(50px);
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
  }
  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  .ant-drawer-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
  }
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid #545557;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}
.ant-tabs .ant-tabs-tab {
  color: #9fa0a2;
  font-size: 1.16rem;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #fff;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #b2b4b8;
}
.ant-drawer .ant-drawer-content {
  background-color: transparent;
}
