.lenderWrapper {
  background: #010006;
  min-height: 100vh;
  padding-bottom: 3.125rem;
  .lendContainer {
    padding: 0rem 6.5rem;
    p.lendTxt {
      color: #fff;
      font-size: 2.125rem;
      font-weight: 500;
      width: 35rem;
    }
    .blueLineGradient {
      width: 22.8125rem;
      height: 0.8125rem;
      border-radius: 0.625rem;
      margin: 1.75rem 0rem;
      background: linear-gradient(
        90deg,
        #27a2ff 0.02%,
        rgba(249, 252, 255, 0) 87.07%
      );
    }
    p.lndRemTxt {
      color: #fff;
      font-size: 1.375rem;
      font-weight: 400;
    }
    .banksWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 5.75rem;
      margin-top: 3rem;
    }
  }
}
.ant-drawer .lenderDrawer {
  background: #303033;
  box-shadow: 0rem 0.25rem 0.625rem 0rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(26px);
}
.lenderDrawer {
  padding: 0rem 2rem;
  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  p.banksHead {
    color: #fff;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    margin-bottom: 3.8rem;
  }
  .smallBanksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
