.tradesMenuWrapper {
  p.tradeHeading {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  .tradeIconWrapper {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    .tradeIconContainer {
      background-color: #14161a;
      width: 7.125rem;
      height: 7.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }
  p.noTrade {
    color: #9fa0a2;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    margin-top: 1.38rem;
  }
}
