.verificationsContainer {
  .verificationBadge {
    background: linear-gradient(
      230deg,
      #458dbf,
      #45b3e9,
      #4591c3,
      #446e99,
      #3d5172,
      #37425c,
      rgba(105, 86, 179, 0)
    );
    min-height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;

    img {
      width: 100%;
      max-width: 12.5rem;
      height: auto;
    }
  }

  .infoCard {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;

    p {
      color: #fff;
      font-size: 0.875rem;
      font-weight: 400;
      margin-left: 0.625rem;
    }
  }

  .verificationDetail {
    margin-top: 1.875rem;

    p {
      color: #ffffff99;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .verificationLearnMore {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.125rem;
      color: #fff;
      font-weight: 500;
    }
  }
}
