.settingsMenu {
  .settingsMenuTitle {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
  }

  .settingsLogoutButton {
    margin-top: 2.5rem;
  }
}
