.helpCenter {
  .helpSectionTitle {
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.9375rem;
  }

  .showMore {
    margin-top: 1.25rem;
    padding: 1.25rem !important;
  }
}
